		<!-- Content -->
		<div id="content">

			<!-- Fluid container -->
			<div class="container-fluid">

				<!-- Page heading -->
				<div id="heading" class="row">
					<div class="col-12">

						<header>
							<h1>Error 404</h1>
							<h2>Página no Encontrada</h2>
						</header>

					</div>
				</div>

				<!-- Main content -->
				<div class="row">
					<div class="main-column col-12">

						<!-- Inner -->
						<div class="inner">

							<div class="row">
								<div class="col-6">

									<p>La página que buscas no existe.</p>
									<p>Esto puede ser por que:</p>
									<ul class="fa-ul">
										<li><i class="fa-li fa fa-angle-right"></i>Movimos la página</li>
										<li><i class="fa-li fa fa-angle-right"></i>Borramos la página</li>
										<li><i class="fa-li fa fa-angle-right"></i>Querias ver nuestra página 407</li>
									</ul>

								</div>
								<div class="col-6">

									<h4>Tranquilo, utiliza el menú de la izquierda para volver a alguna página.</h4>

								</div>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
<script>
	$(document).ready(function() {
		$.material.init();
		$('#content').blurjs({
	        source: '#content',
	        radius: 30,
	        overlay: 'rgba(0, 0, 0, .2)'
	    });
	});
</script>
