
<div id="content">
	<!-- Fluid container -->
	<div class="container-fluid">

		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="col-12">

				<header>
					<h1>FAQ</h1>
					<h2>Dudas, preguntas frecuentes</h2>
				</header>

			</div>
		</div>

		<!-- Main content -->
		<div class="row services">

			<!-- Service box -->
			<article class="service-box col-12">
				<div class="inner">
					<header>
						<h3>Dudas mas frecuentes</h3>
					</header>
					<p>
					<div class="panel panel-primary">
		    			<div class="panel-heading">
		        			<h3 class="panel-title">¿Es necesario el link de Youtube para convertir?</h3>
		    		</div>
		    			<div class="panel-body">
		        			Si. Nuestro servicio ofrece unicamente acceso para links de Youtube. Para mayor exactitud, no estan permitidos links de versión corta
		   				 </div>
					</div>
					</p>
					<p>
					<div class="panel panel-primary">
		    			<div class="panel-heading">
		        			<h3 class="panel-title">¿Existe algun numero limite de canciones para convertir?</h3>
		    		</div>
		    			<div class="panel-body">
		        			No. Ofrecemos un servicio ilimitado para nuestros clientes.
		   				 </div>
					</div>
					</p>
					<p>
					<div class="panel panel-primary">
		    			<div class="panel-heading">
		        			<h3 class="panel-title">¿Se trata de un servicio gratuito?</h3>
		    		</div>
		    			<div class="panel-body">
		        			Si. Ofrecemos un servicio sin ningun tipo de costes.
		   				 </div>
					</div>
					</p>
					<div class="panel panel-primary">
		    			<div class="panel-heading">
		        			<h3 class="panel-title">¿Es necesario el registro para poder usar la opcion de convertir?</h3>
		    		</div>
		    			<div class="panel-body">
		        			No. Pero cabe destacar que si se quiere guardar las canciones, si que es necesario el registro.
		   				 </div>
					</div>
					</p>
				</div>
			</article>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
		$('#content').blurjs({
	        source: '#content',
	        radius: 30,
	        overlay: 'rgba(0, 0, 0, .2)'
	    });
	});
</script>
