
<div id="content" ng-controller="IndexController as vm">
	<!--  <div id="videobackground">
				<video loop autoplay>
					<source src="img/slides/4.mp4" />
					
				</video>
			</div>-->
	<div>
		<div class="jumbotron" ng-hide="vm.downloading">
			<center>
				<h1>Consigue tu música</h1>
				<form ng-submit="vm.convertLink()">
					<div class="form-group">
						<input type="url" class="form-control" ng-model="vm.link"
							placeholder="Full Youtube link like: https://www.youtube.com/watch?v=TrEk96vX8_Q" required>
					</div>
					<p>
						<button type="submit" 
													class="btn btn-primary">Convertir</button>
					</p>
				</form>
			</center>
		</div>

		<div class="jumbotron" ng-show="vm.loading">
			<center>
				<h1>Transformando tu música</h1>
				<div class="progress progress-striped active" style="height: 20px;">
					<div class="progress-bar" style="width: 100%;"></div>
				</div>
			</center>
		</div>

		<div class="jumbotron" ng-show="vm.loaded">
			<center>
				<h1>Descarga tu música</h1>
			</center>
			<img ng-src="{{vm.music.thumbail}}"
				style="float: left; margin-right: 70px;">
			<h6>{{vm.music.title}}</h6>
			<br>{{vm.music.description}}
			<p>
				<a ng-href="{{vm.music.download}}" class="btn btn-primary">Descargar</a>
			</p>
			<p style="clear: both;"></p>
			<hr>
			<center>
				<h1>Guardala para siempre</h1>
			</center>
			<p>Create una cuenta y guarda tus canciones, reproducelas cuando
				quieras o compartelas con tus amigos.</p>
			<p>
				<button class="btn btn-primary">Registrarse</button>
			</p>
			<button class="btn btn-block btn-facebook"
				ng-click="authenticate('facebook')">Login con Facebook</button>
			<button class="btn btn-block btn-google-plus"
				ng-click="authenticate('google')">Login con Google</button>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
		$('#content').blurjs({
	        source: '#content',
	        radius: 30,
	        overlay: 'rgba(0, 0, 0, .2)'
	    });
	});
</script>
