
<!-- Content -->
<div id="content" class="isotope-container" id="content"
	ng-controller="LastnewsController as vm">

	<!-- Fluid container -->
	<div class="container-fluid">
		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="filter col-12">
				<header>
					<h1>Últimas Descargas</h1>
					<h2>¿Qué se ha descargado ahora mismo?</h2>
				</header>


			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					style="background-image: url(img/portfolio-images/1.jpg)"></a>
				<div class="inner">
					<header>
						<h3>Over the Horizon</h3>
						<a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a><a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-plus fa-3"></i>
						</a>
				</div>
			</article>
		</div>
		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="filter col-12">

				<header>
					<h1>Y de tus amigos</h1>
					<h2>¿Quieres saber que escuchan tus amigos?</h2>
				</header>

			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					style="background-image: url(img/portfolio-images/1.jpg)"></a>
				<div class="inner">
					<header>
						<h3>Over the Horizon</h3>
						<a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a><a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-plus fa-3"></i>
						</a>
				</div>
			</article>
		</div>

	</div>

</div>


<script>
	$(document).ready(function() {
		$.material.init();
		$('#content').blurjs({
	        source: '#content',
	        radius: 30,
	        overlay: 'rgba(0, 0, 0, .2)'
	    });
	});
</script>