
<!-- Content -->
<div id="content" class="isotope-container" id="content"
	ng-controller="LastnewsController as vm">

	<!-- Fluid container -->
	<div class="container-fluid">
		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="filter col-12">
				<header>
					<h1>Últimas Descargas</h1>
					<h2>¿Qué se ha descargado ahora mismo?</h2>
				</header>


			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					style="background-image: url(img/portfolio-images/1.jpg)"></a>
				<div class="inner">
					<header>
						<h3>Over the Horizon</h3>
						<a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a><a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-plus fa-3"></i>
						</a>
				</div>
			</article>
		</div>
		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="filter col-12">

				<header>
					<h1>Y de tus amigos</h1>
					<h2>¿Quieres saber que escuchan tus amigos?</h2>
				</header>

			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					style="background-image: url(img/portfolio-images/1.jpg)"></a>
				<div class="inner">
					<header>
						<h3>Over the Horizon</h3>
						<a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a><a class="btn btn-small btn-default"
							style="width: 50%; margin: 0;"> <i href="#"
							class="fa fa-plus fa-3"></i>
						</a>
				</div>
			</article>
		</div>

	</div>

</div>

<!-- Collapsible sidebar -->
<div id="sidebar">

	<!-- Widget Area -->
	<div id="widgets">

		<!-- Main menu -->
		<nav id="mainmenu">
			<ul>
				<li><a href="#/">Inicio</a></li>
				<li><a href="#/signup">Registro/Login</a></li>
				<li><a href="#/lastnews" class="active">Últimas Novedades</a></li>
				<li><a href="blog.html">Blog</a></li>
<li><a href="#/we">Nosotros</a></li>
				<li><a href="#/contact">Contacto</a></li>
			</ul>
		</nav>

	</div>

	<!-- Copyright -->
	<footer>
		<p class="copyright">Â© Copyright 2015 YouPod</p>
	</footer>

</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>