
<div id="content" ng-controller="PerfilController as vm">
	<!-- Fluid container -->
	<div class="container-fluid">

		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="filter col-12">
				<header>
					<h1>Mis Canciones Nacionales</h1>
					<h2>¿Que canciones nacionales tienes?</h2>
				</header>
			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article ng-show="vm.nac.length>0" ng-repeat="music in vm.nac"
				class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					ng-style="{'background-image':'url({{music.thumbail}})'}"></a>
				<div class="inner">
					<header>
						<h3>{{music.title}}</h3>
						<a ng-href="{{music.download}}" class="btn btn-small btn-default"
							style="width: 100%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a>
				</div>
			</article>
			<div ng-show="vm.nac.length<1" class="well well-lg">Aun no
				tienes canciones nacionales</div>
		</div>

		<div id="heading" class="row">
			<div class="filter col-12">
				<header>
					<h1>Mis Canciones Internacionales</h1>
					<h2>¿Que canciones internacionales tienes?</h2>
				</header>
			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article ng-show="vm.inter.length>0" ng-repeat="music in vm.inter"
				class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					ng-style="{'background-image':'url({{music.thumbail}})'}"></a>
				<div class="inner">
					<header>
						<h3>{{music.title}}</h3>
						<a ng-href="{{music.download}}" class="btn btn-small btn-default"
							style="width: 100%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a>
				</div>
			</article>
			<div ng-show="vm.inter.length<1" class="well well-lg">Aun no
				tienes canciones internacionales</div>
		</div>

		<div id="heading" class="row">
			<div class="filter col-12">
				<header>
					<h1>Mis Bandas Sonoras</h1>
					<h2>¿Que bandas sonoras tienes?</h2>
				</header>
			</div>
		</div>

		<!-- Main content -->
		<div class="isotope isotope-4 row">

			<!-- Portfolio item -->
			<article ng-show="vm.son.length>0" ng-repeat="music in vm.son"
				class="portfolio isotope-item buildings design col-3">
				<a href="" class="image"
					ng-style="{'background-image':'url({{music.thumbail}})'}"></a>
				<div class="inner">
					<header>
						<h3>{{music.title}}</h3>
						<a ng-href="{{music.download}}" class="btn btn-small btn-default"
							style="width: 100%; margin: 0;"> <i href="#"
							class="fa fa-arrow-down fa-3"></i>
						</a>
				</div>
			</article>
			<div ng-show="vm.son.length<1" class="well well-lg">Aun no
				tienes bandas sonoras</div>
		</div>

		<!-- Main content -->
		<div class="row services">

			<!-- Service box -->
			<article class="service-box col-12">
				<div class="inner">
					<header>
						<h3>Mis amigos</h3>
					</header>
					<p>
						<!-- Main content -->
					<div class="row">
						<div ng-show="vm.amigos.length>0" ng-repeat="friend in vm.amigos"
							class="col-4">
							<div class="list-group-item">
								<div class="row-picture">
									<img class="circle" src="http://lorempixel.com/56/56/people/7"
										alt="icon">
								</div>
								<div class="row-content">
									<h6 class="list-group-item-heading">{{friend.email}}</h6>
									<p class="list-group-item-text">Ha descargado
										{{friend.music.length}} canciones.</p>
									<a ng-click="vm.deleteAmigos(friend.id)"
										class="btn btn-primary">Borrar Amigo </a>
								</div>
							</div>
						</div>
						<div ng-hide="vm.amigos.length>0" class="col-4">Agrega
							amigos para empezar a compartir tus experiencias.</div>
					</div>
					<div class="row">
						<div class="col-10">
							<h3>Añade un nuevo amigo</h3>
							<form class="form-horizontal" ng-submit="vm.addAmigos(vm.user)">
								<fieldset>
									<div class="form-group">
										<label for="inputEmail" class="col-lg-2 control-label">Email</label>
										<div class="col-lg-10">
											<input type="email" class="form-control" id="inputEmail"
												placeholder="Email" ng-model="vm.user.email" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
											<button type="submit" class="btn btn-primary">Añadir
												Amigo</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					</p>
				</div>
			</article>
		</div>

		<!-- Main content -->
		<div class="row services">

			<!-- Service box -->
			<article class="service-box col-12">
				<div class="inner">
					<header>
						<h3>Edita tu perfil</h3>
					</header>
					<p>
						<a ng-href="#/setting" class="btn btn-primary">Editar Perfil</a>
						<script>
							$(document).ready(function() {
								$.material.init();
								$('#content').blurjs({
									source : '#content',
									radius : 30,
									overlay : 'rgba(0, 0, 0, .2)'
								});
							});
						</script>
						</div>